<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Guy Griffiths">
	<link rel="stylesheet" href="css/tamsat-alert.css">
	<title>TAMSAT ALERT</title>
</head>

<body>
	<header>
		<a href="../"><img src="dist/header.png" width="500" height="158"></a>
	</header>
	{% block content %}
	{% endblock %}
	<footer>
		All use of TAMSAT data should be in accordance with <a href="TAMSAT_Data_Policy_2017.pdf">the TAMSAT Data Policy</a>.
	</footer>
</body>

</html>
