<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Guy Griffiths">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/tamsat-alert.js"></script>
	<link rel="stylesheet" href="css/tamsat-alert.css">
	<title>TAMSAT ALERT</title>
</head>

<body>
	<a href="../"><img src="img/header.png" width="500" height="158"></a>
	Your job has been successfully submitted to the queue.  When completed, it will be available from <a href="/jobs?email={{email}}&ref={{job_ref}}">here</a>.<br />
	Note that your job will be available for download for 7 days after completion, or 24 hours after it has been downloaded for the first time.<br \>
	<a href="javascript:history.back()">Click here to submit another job</a>
</body>

</html>
